/* .loader {
  position: absolute;
  left: 40%;
  top: 50%;
  transform: scale(1.3);
} */

.loaderContainer {
  backdrop-filter: blur(8px); /* Adjust the blur amount as needed */
  background: rgba(
    255,
    255,
    255,
    0.5
  ); /* Adjust the background color and transparency as needed */
  z-index: 999;
  padding: 0.5rem 4rem 2rem 4rem;
}

/* .loader {
  right: 6rem;
  position: relative;
  transform: scale(2);
} */
.loader span,
.loader p {
  offset-path: path(
    "M67.3,17.8c0-9.3-4.8-14.5-13.8-14.5C41.9,3.2,35.7,17,35.7,17s-6.2,13.8-17.8,13.8C10,30.8,4,25.5,4,17.7 C4, 9.6, 10, 3.2, 17.8, 3.2C29.4, 3.2, 35.7, 17, 35.7, 17s6.2, 13.8, 17.8, 13.8C61.4, 30.8, 67.3, 24.8, 67.3, 17.8z"
  );
  position: absolute;
}
.loader span {
  color: #fff;
  font-size: 12px;
  animation: path 1.4s linear infinite;
}
.loader p {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  opacity: 0;
  motion-rotation: auto 45deg;
  background: #fff;
  animation: path 1.4s linear infinite, dot linear forwards;
}
.loader p.dot-1 {
  background: #bf4040;
  animation-delay: 0.015s;
}
.loader p.dot-2 {
  background: #bf5540;
  animation-delay: 0.03s;
}
.loader p.dot-3 {
  background: #bf6a40;
  animation-delay: 0.045s;
}
.loader p.dot-4 {
  background: #bf8040;
  animation-delay: 0.06s;
}
.loader p.dot-5 {
  background: #bf9540;
  animation-delay: 0.075s;
}
.loader p.dot-6 {
  background: #bfaa40;
  animation-delay: 0.09s;
}
.loader p.dot-7 {
  background: #bfbf40;
  animation-delay: 0.105s;
}
.loader p.dot-8 {
  background: #aabf40;
  animation-delay: 0.12s;
}
.loader p.dot-9 {
  background: #95bf40;
  animation-delay: 0.135s;
}
.loader p.dot-10 {
  background: #80bf40;
  animation-delay: 0.15s;
}
.loader p.dot-11 {
  background: #6abf40;
  animation-delay: 0.165s;
}
.loader p.dot-12 {
  background: #55bf40;
  animation-delay: 0.18s;
}
.loader p.dot-13 {
  background: #40bf40;
  animation-delay: 0.195s;
}
.loader p.dot-14 {
  background: #40bf55;
  animation-delay: 0.21s;
}
.loader p.dot-15 {
  background: #40bf6a;
  animation-delay: 0.225s;
}
.loader p.dot-16 {
  background: #40bf80;
  animation-delay: 0.24s;
}
.loader p.dot-17 {
  background: #40bf95;
  animation-delay: 0.255s;
}
.loader p.dot-18 {
  background: #40bfaa;
  animation-delay: 0.27s;
}
.loader p.dot-19 {
  background: #40bfbf;
  animation-delay: 0.285s;
}
.loader p.dot-20 {
  background: #40aabf;
  animation-delay: 0.3s;
}
.loader p.dot-21 {
  background: #4095bf;
  animation-delay: 0.315s;
}
.loader p.dot-22 {
  background: #4080bf;
  animation-delay: 0.33s;
}
.loader p.dot-23 {
  background: #406abf;
  animation-delay: 0.345s;
}
.loader p.dot-24 {
  background: #4055bf;
  animation-delay: 0.36s;
}
.loader p.dot-25 {
  background: #4040bf;
  animation-delay: 0.375s;
}
.loader p.dot-26 {
  background: #5540bf;
  animation-delay: 0.39s;
}
.loader p.dot-27 {
  background: #6a40bf;
  animation-delay: 0.405s;
}
.loader p.dot-28 {
  background: #8040bf;
  animation-delay: 0.42s;
}
.loader p.dot-29 {
  background: #9540bf;
  animation-delay: 0.435s;
}
.loader p.dot-30 {
  background: #aa40bf;
  animation-delay: 0.45s;
}
.loader p.dot-31 {
  background: #bf40bf;
  animation-delay: 0.465s;
}
.loader p.dot-32 {
  background: #bf40aa;
  animation-delay: 0.48s;
}
.loader p.dot-33 {
  background: #bf4095;
  animation-delay: 0.495s;
}
.loader p.dot-34 {
  background: #bf4080;
  animation-delay: 0.51s;
}
.loader p.dot-35 {
  background: #bf406a;
  animation-delay: 0.525s;
}
@keyframes path {
  to {
    offset-distance: 100%;
  }
}
@keyframes dot {
  to {
    opacity: 1;
  }
}
@supports not (offset-rotate: 0deg) {
  body:before {
    content: "Sorry! you browser not supports!";
    background: #dc3b3b;
    padding: 10px 0;
    text-align: center;
    display: block;
    color: #fff;
  }
}
